{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="col-12 col-sm-8 col-md-6 col-lg-8 offset-sm-2 offset-md-3 offset-lg-2">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">

                    {% if salle != None %}
                    <h1 class="mb-sm-4 text-center">Modifier la salle</h1>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <h4>Informations</h4>
                            <form method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.type_sal.label }}  {{ form.type_sal(class="form-control") }}<br>
                                {{ form.numero.label }}  {{ form.numero(class="form-control", value=salle.numero) }}<br>
                                {{ form.nbre_place.label }}  {{ form.nbre_place(class="form-control", value=salle.nbre_place) }}<br>
                                {{ form.submit(class="btn btn-primary") }}
                                {{ form1.reset(class="btn btn-secondary") }}
                            </form>
                        </div>
                        <div class="col-12 col-lg-6">
                            <figure class="figure">
                                {% if salle.type == 'AMPHITHEATRE' %}
                                <a href="#"><img src="{{ url_for('static', filename='image/amphi.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                                {% elif salle.type == 'LABORATOIRE DE CHIMIE' %}
                                <a href="#"><img src="{{ url_for('static', filename='image/chimie.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                                {% elif salle.type == 'LABORATOIRE D\'ELECTRONIQUE' %}
                                <img src="{{ url_for('static', filename='image/electronique.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image">
                                {% elif salle.type == 'LABORATOIRE D\'ELECTROTECHNIQUE' %}
                                <img src="{{ url_for('static', filename='image/electrotech.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image">
                                {% elif salle.type == 'LABORATOIRE DE SCIENCES INFIRMIER' %}
                                <img src="{{ url_for('static', filename='image/sciInfirm.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image">
                                {% elif salle.type == 'SALLE D\'INFORMATIQUE' %}
                                <img src="{{ url_for('static', filename='image/info.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image">
                                {% else %}
                                <a href="#"><img src="{{ url_for('static', filename='image/screenshot.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                                {% endif %}
                            </figure>
                        </div>
                    </div>
                    {% else %}
                    <h1 class="mb-sm-4 text-center">Nouvelle salle</h1>
                    <div class="row">
                        <div class="col-12 col-lg-6 mb-3">
                            <h4>Informations</h4>
                            <form method="POST">
                                {{ form.hidden_tag() }}
                                {{ form.type_sal.label }}  {{ form.type_sal(class="form-control") }}<br>
                                {{ form.numero.label }}  {{ form.numero(class="form-control") }}<br>
                                {{ form.nbre_place.label }}  {{ form.nbre_place(class="form-control") }}<br>
                                {{ form.submit(class="btn btn-primary") }}
                                {{ form1.reset(class="btn btn-secondary") }}
                            </form>
                        </div>
                        <div class="col-12 col-lg-6">
                            <figure class="figure">
                                <a href="#"><img src="{{ url_for('static', filename='image/screenshot.png') }}" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                            </figure>
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
    </div>
</div>
{% endblock %}